<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="text-center">小车控制器</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0 text-center"><button class="btn btn-primary" type="button">↑</button></div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-4 col-md-4 offset-0 text-end"><button class="btn btn-primary" type="button">←</button></div>
            <div class="col-4 col-md-4 text-center"><button class="btn btn-primary" type="button">停</button></div>
            <div class="col-4 col-md-4 text-start"><button class="btn btn-primary" type="button">→</button></div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0 text-center align-self-center"><button class="btn btn-primary align-self-center" type="button">↓</button></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>